* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0x;
}

html {
  background-color: gainsboro;
}

.main-wrapper {
  display: block;
  flex-direction: column;
}

header {
  font-size: 1.8vmax;
  background-color: gray;
  color: white;
  padding: 0.5vmax;
  text-align: center;
  text-shadow: 0.1vmax 0.1vmax 0.3vmax black;
  box-shadow: 0.0vmax 0.1vmax 0.3vmax black;
  margin-bottom: 2vmax;
}

.content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  height: fit-content;
  font-size: 1vmax;
  @media (max-width: 800px) {
    font-size: 2vmax;
  }
  width: 30vmax;
  min-width: 20vmax;
  margin: 1vmax;
  section{
    text-align: center;
    background-color:aquamarine;
    padding: 1vmax;
    color: white;
    text-shadow: 0.1vmax 0.1vmax 0.3vmax black, -0.1vmax -0.1vmax 0.1vmax black;
    box-shadow: 0.0vmax 0.1vmax 0.3vmax black, 0.0vmax -0.1vmax 0.3vmax black;
  }

  ul{
    padding-inline-start: 4vmax;
  }

  .list{
    padding: 2vmax;
  }

  border: 0.1vmax solid black;
  border-radius: 2vmax;
  overflow: hidden;
  background-color: white;
}